* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #353b48;
  }
  
  .heading {
    height: 10vh;
    text-align: center;
    padding: 0.8rem;
    color: white;
    font-size: 1.5rem;
  }
  
  .qrcode-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    width: 25rem !important;
    height: 25rem !important;
    background: #f5f6fa;
  }
  
  .message {
    width: 25rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .button {
    border: none;
    background: #8c7ae6;
    padding: 0.8rem 1.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
    width: 25rem;
    margin-top: 0.5rem;
  }
  